<h2 class="text-center">Conversor</h2>
    <hr>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Pesos CLP</span>
      </div>
      <input  (input)="pesosChanged()"
              [(ngModel)]="pesosAux" 
              type="number" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Dólar USD</span>
      </div>
      <input  (input)="dolarChanged()"
              [(ngModel)]="dolarAux" 
              type="number" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Unidad de Fomento</span>
      </div>
      <input  (input)="ufChanged()"
              [(ngModel)]="ufAux"
              type="number" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">UTM</span>
      </div>
      <input  (input)="utmChanged()"
              [(ngModel)]="utmAux"
              type="number" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
    </div>
    
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Euro</span>
      </div>
      <input  (input)="euroChanged()"
              [(ngModel)]="euroAux"
              type="number" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
    </div>